{% extends 'base_admin.html' %}

{% block head %}
    <title>{{type}}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/customer.css') }}"/>
{% endblock %}

{% block customer %}
    <button class="menuItemsChild" id="customer_sidebar_info">Info</button>
    <button class="menuItemsChild" id="customer_sidebar_process">Processing Order</button>
    <button class="menuItemsChild" id="customer_sidebar_transit">Transit Order</button>
    <button class="menuItemsChild" id="customer_sidebar_confirm">Confirm Order</button>
{% endblock %}


{% block customer_showAll %}
    <h1 style="margin: 20px;">Customer</h1>
    <table style="width:95%; margin: 20px;">
        <tr>
            {% for title in user[0].keys() %}
                <th style="padding: 10px;">{{title}}</th>
            {% endfor %}
        </tr>
        
        {% for data in user%}
            <tr>
                {% for key in data.values() %}
                    <td style="padding: 10px;">
                        <a href="http://127.0.0.1:5000/admin/customer?id={{data.ID}}&option=info">
                            {{key}}
                        </a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <script src="{{ url_for('static', filename='js/admin/customer.js') }}"></script>
{% endblock %}


{% block customer_info %} 
    <h1 style="margin: 20px;">Customer Detail</h1>

    <table style="width:95%; margin: 20px;">
        {% for key, value in user[0].items() %}
            <tr>
                <th style="min-width: 300px; padding: 5px;">{{key}}</th>
                {% if key not in ['shoppingCart', 'orderProcessing', 'orderTransit', 'orderList', 'reviewList', 'password']  %}
                    <td style="padding: 10px;">{{value}}</td>
                {% elif key in ['orderProcessing', 'orderTransit', 'orderList'] %}
                    <td style="padding: 10px;">{{value|length}} đơn hàng</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>

    <script src="{{ url_for('static', filename='js/admin/customer.js') }}"></script>
{% endblock %}

{% block customer_process %} 
    <h1 style="margin: 20px;">Processing Order</h1>
    {% for order in user[0]['orderProcessing'] %}
        <div class="d-flex flex-row">
            <div style="width: 93%;">
                <p style="margin-left: 20px; margin-bottom: 0px;">Order ID: {{order['orderID']}}</p>
                <p style="margin-left: 20px; margin-bottom: 0px;">Buy time: {{order['buyTime']}}</p>
            </div>
        </div>
        
        <table style="margin: 10px 20px;">
            <tr>
                <th style="padding: 10px; width: 50px">id</th>
                <th style="padding: 10px; width: 600px">name</th>
                <th style="padding: 10px; width: 200px">brand</th>
                <th style="padding: 10px; width: 150px">price</th>
                <th style="padding: 10px; width: 100px">quantity</th>
                <th style="padding: 10px; width: 150px">total</th>
            </tr>
            {% for detail in order['detail'] %}
                <tr>
                    <td style="padding: 10px;">{{detail['id']}}</td>
                    <td style="padding: 10px;">{{detail['name']}}</td>
                    <td style="padding: 10px;">{{detail['brand']}}</td>
                    <td style="padding: 10px;" class="price">{{detail['price']}}</td>
                    <td style="padding: 10px;">{{detail['quantity']}}</td>
                    <td style="padding: 10px;" class="price">{{detail['total']}}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
    {% endfor %}

    <script src="{{ url_for('static', filename='js/admin/customer.js') }}"></script>
{% endblock %}


{% block customer_transit %} 
    <h1 style="margin: 20px;">Transit Order</h1>

    {% for order in user[0]['orderTransit'] %}
        <div class="d-flex flex-row">
            <div style="width: 93%;">
                <p style="margin-left: 20px; margin-bottom: 0px;">Order ID: {{order['orderID']}}</p>
                <p style="margin-left: 20px; margin-bottom: 0px;">Buy time: {{order['buyTime']}}</p>
            </div>
        </div>
        
        <table style="margin: 10px 20px;">
            <tr>
                <th style="padding: 10px; width: 50px">id</th>
                <th style="padding: 10px; width: 600px">name</th>
                <th style="padding: 10px; width: 200px">brand</th>
                <th style="padding: 10px; width: 150px">price</th>
                <th style="padding: 10px; width: 100px">quantity</th>
                <th style="padding: 10px; width: 150px">total</th>
            </tr>
            {% for detail in order['detail'] %}
                <tr>
                    <td style="padding: 10px;">{{detail['id']}}</td>
                    <td style="padding: 10px;">{{detail['name']}}</td>
                    <td style="padding: 10px;">{{detail['brand']}}</td>
                    <td style="padding: 10px;" class="price">{{detail['price']}}</td>
                    <td style="padding: 10px;">{{detail['quantity']}}</td>
                    <td style="padding: 10px;" class="price">{{detail['total']}}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
    {% endfor %}

    <script src="{{ url_for('static', filename='js/admin/customer.js') }}"></script>
{% endblock %}


{% block customer_confirm %} 
    <h1 style="margin: 20px;">Confirm Order</h1>
    {% for order in user[0]['orderList'] %}
        <div style="width: 93%;">
            <p style="margin-left: 20px; margin-bottom: 0px;">Order ID: {{order['orderID']}}</p>
            <p style="margin-left: 20px; margin-bottom: 0px;" class="time">Buy time: {{order['buyTime']}}</p>
            <p style="margin-left: 20px; margin-bottom: 0px;" class="time">Processed time: {{order['processedTime']}}</p>
            <p style="margin-left: 20px; margin-bottom: 0px;" class="time">Transited time: {{order['transitedTime']}}</p>
        </div>
        
        <table style="margin: 10px 20px;">
            <tr>
                <th style="padding: 10px; width: 50px">id</th>
                <th style="padding: 10px; width: 600px">name</th>
                <th style="padding: 10px; width: 200px">brand</th>
                <th style="padding: 10px; width: 150px">price</th>
                <th style="padding: 10px; width: 100px">quantity</th>
                <th style="padding: 10px; width: 150px">total</th>
            </tr>
            {% for detail in order['detail'] %}
                <tr>
                    <td style="padding: 10px;">{{detail['id']}}</td>
                    <td style="padding: 10px;">{{detail['name']}}</td>
                    <td style="padding: 10px;">{{detail['brand']}}</td>
                    <td style="padding: 10px;" class="price">{{detail['price']}}</td>
                    <td style="padding: 10px;">{{detail['quantity']}}</td>
                    <td style="padding: 10px;" class="price">{{detail['total']}}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
    {% endfor %}

    <script src="{{ url_for('static', filename='js/admin/customer.js') }}"></script>
{% endblock %}
