{% extends 'base.html' %}

{% block head %}
    <title>Category</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/web/category.css') }}"/>
{% endblock %}

{% block body %}
    <div class="d-flex flex-row">
        <div id="filter" class="filter"></div>
        
        <div>
            <div id="content" class="content">
                {% for item in data %}
                    <div class="card">
                        <a href=../{{item.urlKey}}>
                            <img class="card-img" src={{item.imgUrl}}>
                            <div class="card-body">
                                <p class="card-title">{{item.name}}</p>
                                <div class="d-flex flex-column evaluate">
                                    <div class="d-flex flex-row">
                                        <p class="card-price">{{'{:,}'.format(item.price).replace(',', '.')}}đ</p>
                                        <p class="card-discount">
                                            {% if item.discountRate != null and item.discountRate != 0 %}
                                                -{{item.discountRate}}%
                                            {% endif %}
                                        </p>
                                    </div>

                                    <div class="d-flex flex-row">
                                        <p class="star">
                                            {% if item.rating != 0 %}
                                                Đánh giá: {{item.rating}}
                                            {% endif %}
                                        </p>
                                        <p class="quantity">
                                            {% if item.quantitySold != null %}
                                                Đã bán: {{item.quantitySold}}
                                            {% endif %}
                                        </p>
                                    </div>
                                
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div id="page" class="page">
                {% for page in paging.description %}
                    {% if page == paging.current_page %}
                        <button class="btn btn-primary btnPage" style="margin: 10px; background-color:#0b74e5;" onclick="changePage(this)">{{ page }}</button>
                    {% elif page == '...' %}
                        <button class="btn btnPage" style="margin: 10px; background-color:#f5f5fa;" disabled>{{ page }}</button>
                    {% else %}
                        <button class="btn btnPage" style="margin: 10px; background-color:#f5f5fa;" onclick="changePage(this)">{{ page }}</button>
                    {% endif %}
                {% endfor %}
            </div>
        </div>     
    </div>
{% endblock %}