{% extends 'base.html' %}

{% block head %}
    <title>Product</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/web/product.css') }}"/>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex flex-row">
            <div class="divImageProduct">
                <div><img class="imageProduct" src={{product.thumbnail_url}}></div>

                {% if detail != None %}
                    <div>          
                        <h5 style="margin: 20px;">Đặc điểm nổi bật</h5>
                        <ul>
                            {% for item in detail['highlight']['items'] %}
                                <li style="margin-right: 20px; ">{{item}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="divInfoProduct">

                <div class="divDetailProduct">
                    <h3>{{product.name}}</h3>
                    <p>Thương hiệu: {{product.brand_name}} | Đánh giá: {{product.rating_average}} ({{product.review_count}}) | Đã bán {{product.quantity_sold}}</p>
                    <div class="d-flex flex-row">
                        <h6 id="itemPrice" style="font-size: 30px; font-weight: bold;">{{product.price}}đ</h6>
                        <p style="margin-left: 30px; background-color: #f5f5fa;">-{{product.discount_rate}}%</p>
                    </div>
                </div>                

                <div class="divPaymentProduct">
                    <div class="d-flex flex-row" style="margin-bottom: 10px;">
                        <h5 style="margin-right: 40px;">Số lượng</h5>
                        <div style="margin-right: 40px ;">
                            <button id="minus" class="btnQuantityProduct">-</button>
                            <button id="quantity" class="btnQuantityProduct" style="width: 50px;">1</button>
                            <button id="plus" class="btnQuantityProduct">+</button>
                        </div>
                        <h5 style="margin-right: 40px ;">Tạm tính</h5>
                        <h5 id="calculatePrice"></h5>
                    </div>

                    <div class="d-flex flex-row">
                        <button id="btnBuyNow" style="width: 50%; margin-right: 10px;">Mua ngay</button>
                        <button id="btnAddToCart" style="width: 50%;">Thêm vào giỏ hàng</button>
                    </div>
                </div>

            </div>
        </div>

        <div class="commentProduct" style="width: 100%;">
            <div class="generalComment">
                <h4>Đánh giá sản phẩm</h4>
                <div class="d-flex flex-row">
                    <div>Đánh giá: {{product.rating_average}}</div>
                    <div style="margin: 0px 10px;">|</div>
                    <div>Số lượt đánh giá: {{product.review_count}}</div>
                </div>
                <hr />
            </div>

            <div id="showComment"></div>
        </div>

        <div id="similarProduct" class="d-flex flex-row"></div>
        
        {% if detail != None %}
            <div class="specificationsProduct">
                    <h4>Thông tin chi tiết</h4>
                    <div>
                        {% for item in detail['specifications'][0]['attributes'] %}
                            <div class="d-flex flex-row align-items-center">
                                <p style="min-width: 250px; margin: 5px 0px;">{{ item.name }}</p>
                                <p style="margin: 5px 0px;">{{ item.value }}</p>
                            </div>
                            <hr width="100%" size="1px" align="center" style="margin: 0px;"/>
                        {% endfor %}
                    </div>
            </div>
        {% endif %}

        {% if detail != None %}
            <div class="descriptionProduct">
                    <h4>Mô tả sản phẩm</h4>
                    <div id="divDescription">{{detail['description']}}</div>
            </div>
        {% endif %}

    </div>

    <script src="{{ url_for('static', filename='js/web/product.js') }}"></script>
{% endblock %}