#accountSideBar {
    width: 20vw;
    height: fit-content;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

#accountSideBar .btnAccountSideBar {
    text-align: left;
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #ffffff;
}

#accountSideBar .btnAccountSideBarSelected {
    text-align: left;
    padding: 10px;
    margin: 5px;
    border: none;
    background-color: #d4d2d2;
}

#accountSideBar .btnAccountSideBar:hover {
    text-align: left;
    padding: 10px;
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid #dfdfdf;
    border-radius: 10px;
    text-decoration: none;
    color: #000000;
}

#accountContent {
    width: 80vw;
    height: fit-content;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #ffffff; 
    overflow-y: scroll;
    max-height: 85vh;
}


.titleContent {
    min-width: 300px;
    max-width: 300px;
}


.imageProduct {
    width: 80px; 
    height: 80px; 
    margin: 10px;
}

.infoProduct {
    margin: 10px; 
    margin-left: 40px; 
    min-width: 800px; 
    max-width: 800px;
}

.totalPrice {
    margin: 10px; 
    min-width: 100px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    margin: 10px 20px;
}

th {
    text-align: center; 
    padding: 10px;
}

td {
    padding: 10px;
}

.price {
    text-align: right;
}

.btnComment {
    padding: 5px 10px;
    text-align: center;
    background-color: #d4d2d2;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

.infoOrder {
    margin-left: 20px; 
    margin-bottom: 0px;
}

.div_comment {
    width: 60vw;
    height: auto;
    background-color: #d4d2d2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

.title {
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.div_info_product {
    margin: 20px;
    padding: 20px;
}


