#adminPage {
    background-color: #f4f5fa;
}

#sideBar {
    background-color: #000000;
    width: 15vw;
    height: auto;
}

#sideBar .menuItems {
    padding: 10px;
    margin: 1px 10px;
    background-color: #000000;
    border: none;
    color: #ffffff;
    text-align: left;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
}


#sideBar .menuItems:hover {
    background-color: #191434;
    color: #7960fc;
}

#content {
    width: 85vw;
    height: 100vh;
    background-color: #f4f5fa;
}
